.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: white;
  padding: 50px;
  width: 400px;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.login-box h1 {
  text-align: center;
  margin-bottom: 30px;
}

.login-box form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-box input {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
}

.login-box button {
  background: #1b8f3f;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

.login-box button:hover {
  background: #13682d;
}