.navbar {
  background: white;
  padding: 20px 0;
  box-shadow: 0 2px 15px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-icon {
  color: #1b8f3f;
  font-size: 30px;
}

.logo h1 {
  color: #1b8f3f;
  font-size: 32px;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  color: #333;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #1b8f3f;
}

.logout-btn {
  background: #dc2626;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
}

.logout-btn:hover {
  background: #b91c1c;
}

.floating-add-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;

  width: 60px;
  height: 60px;

  border: none;
  border-radius: 50%;

  background: #1b8f3f;
  color: white;

  font-size: 32px;
  font-weight: bold;

  cursor: pointer;

  box-shadow: 0 4px 12px rgba(0,0,0,0.2);

  z-index: 999;
}

.floating-add-btn:hover {
  background: #146c30;
}

.my-orders-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.my-orders-table th,
.my-orders-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.my-orders-table th {
  background: #1b8f3f;
  color: white;
}

